<!DOCTYPE html>
<html lang="kr">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="list_3.css">
    <title>list_3</title>
</head>
<body>
  <div id="header">
    <ul>header부분 입니다</ul>
  </div>

  <div id="sidebar_a">
    <!--<ul>left sidebar</ul>-->
  </div>

  <div id="sidebar_b">
    <!--<ul>right sidebar</ul>-->

  </div>

  <div id="content">
    <nav>
      <span><a class="list_bar" href="list_1.html">새삭</a></span>
      <span><a class="list_bar"  href="list_2.html">나무</a></span>
      <span><a class="list_bar" href="list_3.html">열매</a></span>
    </nav>

      <!--열매 페이지에 해당하는 부분-->
      <img src="./img_file/list_3.png" alt="none">


  </div>

      <div id="footer">
        <ul>©2022 by Hype-girl</ul>
        <ul>2022 1st IT Engineering Alliance Hackathon </ul>
        <ul>Draw forth Synergy</ul>

      </div>

    </body>
    </html>