<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:href="@{/css/layout1.css}" rel="stylesheet">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
       $(document).ready(function () {
            var width = $('[data-role="slider"]').attr('data-width');
            var height = $('[data-role="slider"]').attr('data-height');
            var count = $('[data-role="slider"] div.item').length;

            $('[data-role="slider"]').css({
                position: 'relative',
                overflow: 'hidden',
                width: width,
                height: height
            }).find('.container').css({
                position: 'absolute',
                width: count * width,
                overflow: 'hidden'
            }).find('.item').css({
                width: width,
                height: height,
                float: 'left'
            });

            var currentPage = 0;
            var changePage = function () {
                $('[data-role="slider"] > .container').animate({
                    left: -currentPage * width
                }, 500)
            };

            $('#left-button').click(function () {
                if (currentPage > 0) {
                    currentPage = currentPage - 1;
                    changePage();
                }
            });

            $('#right-button').click(function () {
                if (currentPage < count - 1) {
                    currentPage = currentPage + 1;
                    changePage();
                }
            });
        });
    </script>
    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>

</head>
<body>
<!-- 밑부분 -->

<!--소개 멘트-->
<br>
<br>
<br>
<hr>
<br>
<br>
<br>
<h1 class="font_2" style="text-align:center;">
    <span style="line-height: 2.00em; text-align:center;">
        <span style = "font-weight:bold; color: #B70050; text-shadow: 2px 2px 2px gray;">
            <span style="font-size: 72px">준비</span>
            <span style="font-size: 50px">부터</span>
            <span style="font-size: 72px">취업</span>
            <span style="font-size: 50px">까지,</span>
            <br>
            <span style="font-size: 50px">당신의</span>
            <span style="font-size: 72px">이야기</span>
            <span style="font-size: 50px">를 들려주세요</span>
        </span>
    </span>
</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- 게시글 -->
<div style="margin 40px 0; padding 10px 20px;">
<div data-role="slider" data-width="500" data-height="400" style="margin: 0 auto; color: orange;">
        <div class="container" style="overflow: hidden; display: inline;">
            <!-- 갤러리 첫번째 페이지 -->
            <div class="item">
                <a href="">
                    <img src="https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/news/65f0b187018200001.png" width="500" height="300">
                    <h3>내가 카카오에 입사할 수 있었던 5가지 이유</h3>
                </a>
            </div>
            <!-- 갤러리 두번째 페이지 -->
            <div class="item">
                <a href="">
                    <img src="https://www.gizmochina.com/wp-content/uploads/2019/10/samsung.jpg" width="500" height="300">
                    <h3>비전공자부터 삼성 개발직까지 3년</h3>
                </a>
            </div>
            <div class="item">
                <h1>내가 삼성에 입사할 수 있었던 2가지 이유</h1>
                <p>내가 삼성에 입사할 수 있었던 것은 여러가지 노력해서이다.</p>
            </div>
        </div>
    </div>
</div>
<!--좌 우 이동 버튼-->
<div style="margin: 0 auto; text-align: center;">
    <button id="left-button" style="background-color: white; border-style: hidden;" >
        <h3>👈</h3>
    </button>
    <button id="right-button" style="background-color: white; border-style: hidden;">
        <h3>👉</h3>
    </button>
</div>

</body>
</html>