<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="padding: 150px 150px; width: 1440px; height: 700px; margin: 0 auto; background-image: url('https://s3.us-west-2.amazonaws.com/secure.notion-static.com/ee32aa41-d31f-48a0-97dc-a78f17a57ab0/%EC%A0%9C%EB%AA%A9%EC%9D%84-%EC%9E%85%EB%A0%A5%ED%95%B4%EC%A3%BC%EC%84%B8%EC%9A%94_-001_%281%29.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220825%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220825T211233Z&X-Amz-Expires=86400&X-Amz-Signature=98a2f4b73bb90953aa6f24c72131bf5d4ad74282b820bda637425cc470b45c5e&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22%25EC%25A0%259C%25EB%25AA%25A9%25EC%259D%2584-%25EC%259E%2585%25EB%25A0%25A5%25ED%2595%25B4%25EC%25A3%25BC%25EC%2584%25B8%25EC%259A%2594_-001%2520%281%29.png%22&x-id=GetObject'); background-size: cover;">
    <!--내가 쓴 글-->
    <div style="margin: 0 auto;">
        <span style="line-height: 2.50em; text-align:center;">
            <span style = "font-weight:bold; color: #B70050;">
                <span style="font-size: 80px">포트폴리오</span>
                <span style="font-size: 40px">준비는</span>
                <br>
                <br>
                <span style="font-size: 40px">저희에게</span>
                <span style="font-size: 80px">맡기세요</span>
            </span>
        </span>
        <span style="line-height: 2.00em; color: #ffffff">
            <br>
            <br>
            <span style="font-size: 30px">혼자 포트폴리오 준비하느라 어려움을 겪었던 덕우들,</span>
            <br>
            <span style="font-size: 30px">선배들의 포트폴리오를 보며 준비하세요!</span>
        </span>
        <br><br><br><br>
    </div>
</div>
<div style="padding: 150px 150px; width: 1440px; margin: 0px auto; background-color: #f7f7f7">
    <div style="margin: 0 auto;">
        <div style="margin: 30px; padding: 30px 30px; width: 1000px; margin: 100px auto; background-color: white">
            <img src="https://cdn.iconscout.com/icon/free/png-256/samsung-226432.png">
            <div style="float:right;">
                <h1>삼성전자 서버 엔지니어 포트폴리오 구매</h1>
                <p>Q. 본인 성격의 장단점 및 성장 과정을 간단히 기술...</p>
                <p>A. 저는 방황을 거듭하며, 어떤 일이든 긍정적으로 바라보는 습관을 가지고 있습니다...</p>
            </div>
            <br>
            <button style="float: right; width: 100px; background-color: #B50070; border: none; color: #fff;">구매하기</button>
        </div>
        <div style="margin: 30px; padding: 30px 30px; width: 1000px; margin: 100px auto; background-color: white">
            <img src="https://cdn.iconscout.com/icon/free/png-256/amazon-68-722671.png">
            <div style="float:right;">
                <h1>아마존 웹 서비스 포트폴리오 구매</h1>
                <p>Q. 본인 성격의 장단점 및 성장 과정을 간단히 기술...</p>
                <p>A. 저는 방황을 거듭하며, 어떤 일이든 긍정적으로 바라보는 습관을 가지고 있습니다...</p>
            </div>
            <br>
            <button style="float: right;width: 100px; background-color: #B50070; border: none; color: #fff;">구매하기</button>
        </div>
        <div style="margin: 30px; padding: 30px 30px; width: 1000px; margin: 100px auto; background-color: white">
            <img src="https://cdn.iconscout.com/icon/free/png-256/samsung-226432.png">
            <div style="float:right;">
                <h1>삼성전자 반도체 연구 포트폴리오 구매</h1>
                <p>Q. 본인 성격의 장단점 및 성장 과정을 간단히 기술...</p>
                <p>A. 저는 방황을 거듭하며, 어떤 일이든 긍정적으로 바라보는 습관을 가지고 있습니다...</p>
            </div>
            <br>
            <button style="float: right; width: 100px; background-color: #B50070; border: none; color: #fff;">구매하기</button>
        </div>
</div>
</body>
</html>