
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="profile-wrapper" style="padding: 150px 150px; width: 900px; margin: 10px auto; background-color: #B70050">
  <!--프로필 사진 및 전공~-->
  <div id="main-content">
    <div style="float: left;">
      <img src="/img/berry.png" width= "200">
    </div>
    <div style="float: left; line-height: 1.50em; padding: 30px; color: #ffffff;">
      <br>
      <p>❤ berry 등급</p>
      <h1>이덕우</h1>
      <p style="color: #000000;">컴퓨터 공학 전공 · 게시글 8</p>
      <p style="color: #000000;">가입일: 2020년 08월 25일</p>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<!--회원 상세-->
<div style="padding: 150px 150px; width: 900px; margin: 10px auto; background-color: #f7f7f7">
  <!--내가 쓴 글-->
  <div style="margin: 0 auto;">
    <h1>내가 쓴 글</h1>
    <p style="text-align: right; padding: 0px 40px;">더보기 ></p>
    <div style="margin: 30px; padding: 30px 30px; width: 750px; margin 10px auto; background-color: white">
      <h3>삼성 인적성 검사 어때요?</h3>
      <hr>
      <p>아니 삼성 서류까지는 합격했는데 인적성 검사 왤케 어려워요?</p>
      <p style="text-align: right;">👍 3개 · 💬 5개</p>
    </div>
    <div style="margin: 30px; padding: 30px 30px; width: 750px; margin 10px auto; background-color: white">
      <h3>삼성 1차 서류 합격한 후기</h3>
      <hr>
      <p>삼성 1차 서류 저는 합격했습니다. 모든 내용은 성과 위주로 작성하였고, 경험험 위주로 작성하니 쉬웠던 것 같네요. 꿀팁을 드리자면, 두괄식으로 자소서를 써야 하고...</p>
      <p style="text-align: right;">👍 65개 · 💬 8개</p>
    </div>
    <div style="margin: 30px; padding: 30px 30px; width: 750px; margin 10px auto; background-color: white">
      <h3>이번에 카카오 채용 연계형 인턴 뜬 거 보셨나요</h3>
      <br>
      <hr>
      <p>하시는 분 계신가요</p>
      <p style="text-align: right;">👍 0개 · 💬 4개</p>
    </div>

    <br>
    <br>

  </div>
</div>
</body>
</html>